@import url(./varaible.css);

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 60%;
    max-width: 900px;
    height: 90%;
    max-height: 800px;
    display: flex;
    background-color: var(--bg-main);
    color: var(--text-primary);
}

.section-left{
    flex: 70;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: max-content;
}
.article-top{
    flex: 35;
    border-bottom: 3px solid var(--bg-btn);
    display: flex;
    flex-direction: column;
}
.article-top-headear{
    flex: 20;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: var(--space-1);
}
.hamberger{
    display: none;
}
.logo{
    font-size: var(--font-md);
}
.calculation-area{
    flex: 50;
    min-height: 80px;
    margin: var(--space-12) var(--space-12);
    box-shadow: var(--shadow-box);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 15px;
}
.whole-expression{
    flex: 40;
    color: var(--text-secondary);
}
.current-expression{
    flex: 60;
    font-size: 3rem;
}
.unit{
    flex: 30;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: var(--space-3);
}
.unit-btn{
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
}
.unit-btn:hover{
    color:var(--text-primary);
}

.article-bottom{
    flex: 65;
    margin: var(--space-1);
    display: flex;
    flex-direction: column;
}
.function-div{
    flex: 10;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: var(--space-3);
}
.function-div>p{
    font-size: var(--font-md);
}
.fun-svg,.trigo-svg{
    position: relative;
    top: 4px;
    height: 17px;
}


.button-div{
    flex: 90;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 3px;
    padding: var(--space-1);
}
.calculator-btn{
    border-radius: 5px;
    box-shadow: var(--shadow-btn);
    background-color: var(--bg-btn);
    color: var(--text-primary);
    padding: var(--space-2) 0;
    border: none;
    font-size: var(--font-md);
}
button:hover{
    cursor: pointer;
    background-color: var(--bg-btn-hover);
    box-shadow: var(--shadow-btn-hover);
    
}
.d-none{
    display: none;
}
.d-flex{
    flex: 30;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-3);
}

.section-right{
    flex: 30;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: var(--space-3);
}
.sec-right-head{
    display: flex;
    gap: var(--space-5);
    flex: 5;
}
.sec-right-body{
    flex:95;
    padding-left: var(--space-16);
}

.cross-svg{
    margin-right: var(--space-8);
}

.history,.memory{
    font-size: var(--font-md);
    cursor: pointer;
}



.btn-equal{
    background-color: var(--bg-equal);
}
.btn-num{
    background-color: var(--bg-btn-hover);

}
.history-item {
  padding: var(--space-2);
  border-bottom: 1px solid #333;
}
