@media(max-width:888px){
    .section-right{
        display: none;
    }
    .hamberger{
        display: block;  
        cursor: pointer;
    }
}
@media (max-width:580px) {
    .remove-svg{
        display: none;
    }
}
@media (max-width:476px) {
    .container{
        width: fit-content;
    }
}
